.info-item{
    flex-direction: column;
    text-align: center;
    margin: 0px 28px;
    width: 30%;
    display:flex;
    justify-content: space-around;
}

.ii-title{
    font-size: 28px;
    font-weight: 400;
    margin-top: 18px;
}

.ii-description{
    margin-top: 18px;
    font-size: 18px;
}