/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family:  'ADLaM Display', cursive;
}

/* NavBar styles */
.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 10px 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.nav-btn{ 
  width: 35px;
  position: absolute;
  right: 3rem;
  top: 1rem;
  display: none;
  cursor: pointer;

}

.nav-btn .hamburger{
  width: 35px;
  height: 4px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.nav-btn .close {
  position: absolute;
  width: 35px;
  height: 4px;
  background-color: white;
  transform: rotate(45deg);
  transition: 0.4s;
}

.nav-btn .close:nth-child(2) {
  transform: rotate(-45deg);
}



  /* Default NavItems styles (for desktop) */
  .NavItems {
    display: inline;
    margin: 10px 20px;
    
  }
  
  .NavItems a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
    margin: 0px 15px;
  }
  
  .NavItems a:hover {
    color: #86797c;
  }
  .nav-logo {
    width: 150px;
    height: auto;
    top: 7%; /* Adjust as needed for vertical positioning */
    left: 0; /* Adjust as needed for horizontal positioning */
   
  }
  .goto{
    font-size: 20px;
  }
  
  @media(max-width: 45rem) {
    .nav-btn{
      display:block ;
      z-index: 2;
      cursor: pointer;
    }
    
    .nav-btn .hamburger {
      transition: none;
    }
    .NavItems {
      display: none;
    }
    .NavItems a{
      display: block;
      
      height: 1.5rem;
      padding: 23px 0px;
      z-index: 1;
      top: 40px;
      text-align: left;
      padding-left:64%;
      margin: 7px;
       
      
    }
    
    .open .NavItems {
      display: flex; 
      z-index: 1;
      flex-direction: column;
      position: absolute; 
      padding-top: 120px;
      padding-right: 70px;
      top: -10px;
      right: 180px;
      width: 84%; /* Cover the entire width */
      height: 150%; /* Cover the entire height */
      background-image: linear-gradient(
        -225deg,
        #504a4c 67%,
        #555357 100%
      );
      background-size: 170% ; 
      background-repeat: no-repeat;
      justify-content: flex-start;
  }
  
   
    
   
    .nav-logo {
    
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    }
    .open .nav-logo{
      width: 180px; 
    }
  
    .nav-logo img {
      width: 150px;
      height: auto; /* Set a height for the logo image */
    }

    .goto{
      display: none;
    }
    .login{
      display:none
    }

    .open .goto {
      display: block;
      z-index: 1;
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      height: 10%;
      width: 63%;
      right: 34%;
    
      
      
    }
    .open .login {
      display: block;
      z-index: 1;
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      right: 14px;  
      width: 93%; /* Adjust this percentage to your preference */
      height: 33%; /* Adjust this percentage to your preference */
      
      
    }
  }