@import url('./common/styles/commonClasses.css');
@import url('./common/styles/variables.css');

body{
    background-color: #191C1F;
    color: var(--white);
    font-family: 'ADLaM Display', cursive;
}

