@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Pixelify+Sans:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'ADLaM Display', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Responsive Typography */
@media (max-width: 75rem ) {
  body {
    font-size: 14px;
  }

  code {
    font-size: 12px;
  }
}

/* Add more media queries as needed for different screen sizes */